<mat-toolbar>
  <mat-toolbar-row class="header__main" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="end center">
      <img src="assets/siteart/edge-logo.png" alt="Werner Edge">
      <span>Event Management</span>
      <span><mat-icon class="material-icons-outlined">home</mat-icon></span>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <div class="header-avatar">TN</div>
    </div>
  </mat-toolbar-row>

<!-- -------------- If you do not need a sub header, delete me -------------- -->
  <mat-toolbar-row class="header__sub" fxLayout="row" fxLayoutAlign="space-between center">
    <div>

    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <mat-icon>more_vert</mat-icon>
    </div>
  </mat-toolbar-row>

</mat-toolbar>







