<div fxLayout="row" fxLayoutGap="" class="padding-top" fxLayoutAlign="center center" fxFlex>
    <div class="average-event-time" fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayoutGap="12px">
      <mat-icon style="font-size: 30px;"><b>schedule</b></mat-icon>
      <span class="mat-h4"><b>Average team event handle time</b></span>
      <span class="mat-display-2"><b>2:05</b></span>
    </div>
    <mat-divider [vertical]="true" style="height: 100%"></mat-divider>
    <div class="average-event-time gray-scale" fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayoutGap="12px">
      <mat-icon style="font-size: 30px;"><b>schedule</b></mat-icon>
      <span class="mat-h4" style="padding-left: 12px;"><b>Average company event handle time</b></span>
      <span class="mat-display-2"><b>2:45</b></span>
    </div>
  </div>